<?xml version="1.0" standalone="yes"?>
<configuration debug="true">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %thread %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="no.vegvesen.nvdbapi.client" level="DEBUG" />

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
